@charset "UTF-8";

button:hover {
    cursor: pointer;
}

#content {
    font-family:'Noto sans KR';
    font-size:20px;

    margin:0;padding:0;
}
#totalCount {
    padding: 20px 0px 10px 0px;
}
    /* 버튼CSS */
.btn > button {
    height: 50px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
    
    border: 0px;
    text-align: center;

    background-color: rgb(44, 62, 80);
    color: #fff;
    font-size: 20px;
    
}
.btn {
    display: flex;
    justify-content: flex-end;
}
/* --------------------------------------- */
.exhibitionWrap table {
    margin: 0px auto;
}
.exhibitionWrap tr {
    font-size: 20px;
    width: 100%;
}
.exhibitionWrap th {
    font-size: 20px;
    width: 25%;
}
.exhibitionWrap input,textarea {
    margin: 10px;
    font-size: 20px;
    min-width: 280px;
    width: 100%;
}
.exBtnStyle {
    height: 50px;
    width: 40%;
    margin-top: 10px;
 
    font-size: 20px;
    text-align: center;

    background-color: #005bbb;
    color: #fff;
    font-size: 20px;
}
#exRegisterForm > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}