@charset "UTF-8";



button {
    margin: 0;
}
button:hover {
   cursor: pointer;
}

#totalCount {
    padding: 20px 0px 10px 0px;

    border-bottom: 3px solid #005bbb;
}

img {
    width: 100%;
    height: 100%;
}
a, a:link, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* 제목 */
.ptitle {
    width: 99%;
    
    font-size: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    text-align: center;
}

/* ---------------------글구성-------------------------- */
.companyWrap {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

}
.companyWrap > li {
    padding: 30px;
    width: 20%;
}
.companyImg {
    margin-top: 20px;

    height: 250px;
    
    border: 1px solid rgb(201, 201, 201);
}
/* ---------------------페이징-------------------------- */

/* paging */
#pagination {
    width: 95%;
    margin: 0 auto;
}

#pagination ul {
    display: flex;
    justify-content: center;

}
#pagination li {
    width: 30px;
    height: 30px;
    display: flex;

    font-size: 16px;
    margin-right: 10px;

    text-align: center;
    line-height: 30px;
    flex-direction: column
}


/* 하단 버튼 */
.reg {
    margin: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
}

/* 페이징 버튼 */

.start{
    text-indent:-9999em;
    background-image: url(/resources/img/btn_pagination.png);
    background-repeat: no-repeat;
    background-size: 120px 30px;
    border:1px solid #eee;

}

.prev{
    text-indent:-9999em;
    background-image: url(/resources/img/btn_pagination.png);
    background-repeat: no-repeat;
    background-size: 120px 30px;
    background-position:-30px;
    border:1px solid #eee;
}

.next{		
    text-indent:-9999em;
    background-image: url(/resources/img/btn_pagination.png);
    background-repeat: no-repeat;
    background-size: 120px 30px;
    background-position:-60px;
    border:1px solid #eee;

}

.end{
    text-indent:-9999em;
    background-image: url(/resources/img/btn_pagination.png);
    background-repeat: no-repeat;
    background-size: 120px 30px;
    background-position:-90px;
    border:1px solid #eee;

}

/* 현재페이지 버튼 */
.currPage {
    height: 30px!important;
    border: 1px solid #000;
}



/* 버튼CSS */
.buttonstyle {
    height: 40px;
    width: 100px;
    
    /* line-height: 40px; */
    text-align: center;

    border: 0px;

    background-color: #005bbb;
    color: #fff;
    font-size: 15px;
    
}
/* select옵션DIV */
.selectDiv {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    font-weight: bold;
    color: #005bbb;
    font-size: 20px;
}
/* select옵션 */
#exOption {
    margin-left: 10px;
    font-size: 20px;
}