

#wrapper{
    width: 1200px;
    font-size: initial;
  
}

#modifyForm{
    margin: 50px auto;
    width: 500px;
}
#inner_con{
    width: 500px;
    display: flex;
    flex-direction: column;
}
input{
    display: block;
    width: 498px;
    height: 30px;

    margin-bottom: 15px;
    margin-top: 15px;

    border: none;
    border-bottom: 1px solid grey;
    
}

button{
    cursor: pointer;
    border: solid 1px #005bbb;
    background-color: #005bbb;
    color: white;
}

#captcha{
    height: 200px;
    display: flex;
    
    flex-direction: column;

    margin: 20px auto 0;
  
}
input#value{
    width: 298px;
    height: 40px;
   
}

#captcha_top{
    display: flex;
}

#capBtn{
    display: flex;
    flex-direction: column;
}

#captcha_top button{
    width: 95px;
    height: 44px;
    margin-bottom: 2px;
    margin-left: 5px;
 
}

h6{
    margin: 0;
}

h4{
    margin: 0;
    color: #005bbb;

}

#modifyPasswordBtn{
    width: 100px;
    height: 45px;
}
#passwordInvalidMessage{
    color: red;
}

#buttons{
    display: flex;
    justify-content: center;
}