<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BoardReplyMapper">
    <select id="replyList" resultType="com.korea.gfair.domain.ReplyVO">
        <![CDATA[ 
            SELECT
                /*+ INDEX(tbl_reply)*/
                *
            FROM
                tbl_reply
            WHERE
                bno = #{bno}
        ]]>
    </select>

    <insert id="replyInsert">
        <![CDATA[ 
            INSERT INTO tbl_reply 
                (bno, 
                recontent, 
                memberid)
            VALUES (
                #{bno}, 
                #{recontent}, 
                #{memberid})
        ]]>
    </insert>

    <delete id="replyDelete">
        <![CDATA[ 
            DELETE FROM 
                tbl_reply
            WHERE 
                reno = #{reno}
        ]]>
    </delete>
</mapper>